<table>
    <tr>
        <td>Name</td>
        <td> <input type="text" data-bind="value: Name" /> </td>
    </tr>
    <tr>
        <td>Age</td>
        <td><input type="text" data-bind="value: Age" /> </td>
    </tr>
    <tr>
        <td>Comments</td>
        <td><input type="text" data-bind="value: Comments" /></td>
    </tr>
</table>
<input type="button" value="Add" data-bind="click: addCustomer" />
